ENV = {"upload": "https://xxxxxxxxxx.execute-api.ap-northeast-1.amazonaws.com/default/UPLOADER-LAMBDA-HERE", "post": "https://xxxxxxxxxx.execute-api.ap-northeast-1.amazonaws.com/default/POST-LAMBDA-HERE", "get": "https://xxxxxxxxxx.execute-api.ap-northeast-1.amazonaws.com/default/GET-LAMBDA-HERE", "auth": "簡易パスワード", "cdn": "https://CDN-URL-HERE.cloudfront.net/garage/"}